/* body{
    height: 100%;
    background-color: #f3f4f7;
} */

.app {
    padding: 10px;
}

.app-card {
    cursor: pointer;
}

/* bulma expand */
.content--line2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
}